<a href="https://colab.research.google.com/github/kittimaxz/multivariate/blob/main/Function_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Function**

``` python
     def  function_name(_Input_) :

       do_something with _Input_  to produce  _Output_

       return  _Output_
```

```blacklick กด ~ ค้าง,alt -9>6 (full keybord with number) #อีกวิธีคือกดปุ่ม window,Alt พร้อมกันแล้วกดเลข 9,6

function มีส่วนประกอบสำคัญทั้งหมด 4 ส่วน


1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร def function_name(): (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input Input (ขาดได้)
3. ส่วนประมวลผล do_something with Input to get (ขาดไม่ได้)
4. ส่วน output return Output (ขาดได้)

เราใช้เว้นวรรค(indent) เพื่อบอกขอบเขตของ code

#### สร้างฟังก์ชั่น

In [4]:
def print_name(name,surname,ID) :
    st=f'=ชื่อ {name} นามสกุล {surname} ID {ID}' # code ในฟังก์ชั่นต้องเว้นวรรค
    return st
print('outside function')

outside function

การเรียกใช้ฟังก์ชั่น

In [5]:
print_name('กิตติมา','อุปสุข','623021040-9')

'=ชื่อ กิตติมา นามสกุล อุปสุข ID 623021040-9'

In [6]:
output_string = print_name('กิตติมา','อุปสุข','623021040-9')
print(output_string)

=ชื่อ กิตติมา นามสกุล อุปสุข ID 623021040-9

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [7]:
def print_name2(surname,ID,name) :
    st=f' ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [8]:
print_name2('กิตติมา','อุปสุข','623021040-9')

 ชื่อ 623021040-9 นามสกุล กิตติมา รหัส อุปสุข

In [9]:
op2=print_name2('กิตติมา','อุปสุข','623021040-9')

 ชื่อ 623021040-9 นามสกุล กิตติมา รหัส อุปสุข

In [10]:
print(op2)

None

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [11]:
def Pi() :
  return 3.14159265359

In [12]:
#คำนวณพื้นที่วงกลมมที่มีขนาดเส้นผ่านศูนย์กลางเท่ากับ 3
Pi()*(1.5**2)

7.0685834705775

In [13]:
def print_my_name() :
    print('กิตติมา อุปสุข 623021040-9')

In [14]:
print_my_name()

กิตติมา อุปสุข 623021040-9

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ (มีค่า default) เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

เราต้องเรียง input  ที่จำเป็นต้องใส่ขึ้นก่อน

In [15]:
def print_2lines_default(name,surname,ID,grade='F') :
    st=f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)
    st2=f'เกรดวิชา Multivariate >>> {grade}'
    print(st2)

In [16]:
print_2lines_default('กิตติมา','อุปสุข','623021040-9')

ชื่อ กิตติมา นามสกุล อุปสุข รหัส 623021040-9
เกรดวิชา Multivariate >>> F

In [17]:
print_2lines_default('กิตติมา','อุปสุข','623021040-9','A')

ชื่อ กิตติมา นามสกุล อุปสุข รหัส 623021040-9
เกรดวิชา Multivariate >>> A

เราสามารถเรียกฟังก์ชั่นโดยใช้ชื่อตัวแปรของฟังก์ชั่นช่วยได้

In [18]:
print_name2(name='กิตติมา', surname='อุปสุข', ID='623021040-9')

 ชื่อ กิตติมา นามสกุล อุปสุข รหัส 623021040-9

HW3 ให้เขียน function คำนวณจำนวนวินาทีจากเวลาต่อไปนี้

'14-15-31'

'13-00-01'

'05-49-44'

'00-00-16'

และ print ให้สวยงาม

In [63]:
def time(t):
 time_sp=t.split('-')
 h1=int (time_sp[0])*3600
 m1=int (time_sp[1])*60
 s1 =int (time_sp[2])
 ans = h1+m1+s1
 print(f'เวลา {t} สามารถแปลงเป็นวินาทีได้เป็น {ans} วินาที')

In [64]:
time('14-15-31')

เวลา 14-15-31 สามารถแปลงเป็นวินาทีได้เป็น 51331 วินาที

In [65]:
time('13-00-01')

เวลา 13-00-01 สามารถแปลงเป็นวินาทีได้เป็น 46801 วินาที

In [66]:
time('05-49-44')

เวลา 05-49-44 สามารถแปลงเป็นวินาทีได้เป็น 20984 วินาที

In [67]:
time('00-00-16')

เวลา 00-00-16 สามารถแปลงเป็นวินาทีได้เป็น 16 วินาที